In [74]:
import pandas as pd
import numpy as np

from sklearn.metrics import f1_score
from sklearn.linear_model import RidgeClassifierCV, RidgeClassifier
from sklearn.datasets import load_diabetes, load_breast_cancer

from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler

In [56]:
x1,y1 = load_breast_cancer(return_X_y = True)
#x1

In [66]:
X = pd.DataFrame(data =x1) 
Y = pd.DataFrame(data = y1)

In [67]:
X.head()
# Y.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [68]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 1 columns):
0    569 non-null int32
dtypes: int32(1)
memory usage: 2.3 KB

In [69]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 100)

In [70]:
# scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

In [71]:
X_train

array([[-0.768491  ,  0.27133558, -0.59403049, ...,  2.16678839,
         6.21687997,  5.00748332],
       [-1.24400156, -0.91558452, -1.15823988, ...,  0.63695379,
         0.36434565,  2.36398027],
       [-0.65869282, -0.43280948, -0.68847424, ..., -1.10071889,
         0.51687629, -1.01139709],
       ...,
       [-0.70092289, -0.50816949, -0.75266328, ..., -1.10742335,
        -0.26069838, -0.87164501],
       [-0.36308235, -0.28915447, -0.36466711, ..., -0.54912514,
        -0.18111718, -0.25819515],
       [-1.36675029, -1.25470455, -1.31441958, ..., -0.65030146,
         1.31434626,  0.33897836]])

In [88]:
clf = RidgeClassifierCV(alphas = [0.1,1.0,10.0],cv=None, store_cv_values = True)

clf.fit(X_train, Y_train)

C:\Users\kalya\Anaconda3\lib\site-packages\sklearn\linear_model\ridge.py:1806: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]), class_weight=None, cv=None,
                  fit_intercept=True, normalize=False, scoring=None,
                  store_cv_values=True)

In [89]:
y_pred  = clf.predict(X_test)
f1_score(y_pred, Y_test)

0.7608695652173912